.footer {
  padding-top: 70px;
  padding-bottom: 70px;
  background: #000000;
  @media (max-width: 1170px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  @media (max-width: 768px) {
    padding-top: 40px;
    padding-bottom: 50px;
  }
}
.footer__container {
  @include flexcenter;
  flex-direction: column;
}
.footer__title {
  color: #fefefe;
  @media (max-width: 768px) {
    font-size: 14px;
  }
}
.footer__text {
  text-align: center;
  width: 700px;
  margin-top: 20px;
  line-height: 28px;
  color: #b9b9b9;
  @media (max-width: 768px) {
    font-size: 14px;
    width: 300px;
  }
}
.footer__social-links {
  margin-top: 40px;
  display: flex;
  gap: 5px;
  @media (max-width: 768px) {
    margin-top: 25px;
  }
}
.footer__contacts {
  margin-top: 35px;
  line-height: 26px;
  color: #b9b9b9;
  @media (max-width: 768px) {
    font-size: 14px;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.footer__number,
.footer__email {
  color: #b9b9b9;
}
