body {
  font-family: $main-font;
  font-size: $main-font-size;
}
.container {
  position: relative;
  width: 1170px;
  margin-right: auto;
  margin-left: auto;
  @media (max-width: 1170px) {
    width: 768px;
  }
  @media (max-width: 768px) {
    max-width: 80%;
  }
}
.section-title {
  font-weight: 700;
  line-height: 22px;
  text-transform: uppercase;
  color: $titles-color;
}
.big-global-picture {
  height: 100%;
}
