.recent-posts {
  padding-bottom: 70px;
  padding-top: 70px;
  @media (max-width: 1170px) {
    padding-bottom: 60px;
    padding-top: 56px;
  }
  @media (max-width: 768px) {
    padding-bottom: 40px;
    padding-top: 38px;
  }
}
.recent-posts__title {
  margin-bottom: 24px;
  @media (max-width: 768px) {
    font-size: 14px;
  }
}
.recent-posts__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(580px, 1fr));
  grid-column-gap: 10px;
  grid-row-gap: 30px;
  @media (max-width: 768px) {
    grid-template-columns: 100%;
  }
}
.recent-posts__post {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  grid-template-rows: repeat(4, max-content);
  grid-column-gap: 20px;
  grid-row-gap: 5px;
  @media (max-width: 768px) {
    grid-template-columns: 100%;
    grid-row-gap: 0px;
    &:last-of-type {
      display: none;
    }
  }
}
.recent-posts__img {
  grid-column: 1 / 2;
  grid-row: 1 / 5;
}
.recent-posts__title-link {
  display: block;
  font-weight: 700;
  line-height: 30px;
  color: $titles-color;
  &:hover {
    text-decoration: underline;
  }
  @media (max-width: 768px) {
    margin-top: 11px;
    font-size: 14px;
  }
}
.recent-posts__comments {
  font-size: 12px;
  line-height: 20px;
  color: #7c7c7c;
  @media (max-width: 768px) {
    font-size: 11px;
  }
}
.recent-posts__text {
  width: 380px;
  font-size: 14px;
  line-height: 26px;
  color: #5c5c5c;
  @media (max-width: 768px) {
    display: none;
  }
}
